In [1]:
mylist = [1,2,3]

In [3]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [6]:
for i in range(4,11,2):
    print(i)

4
6
8
10

In [7]:
list ( range(0,11,2) )

[0, 2, 4, 6, 8, 10]

In [8]:
index_count = 0

for letter in "ABCD" :
    print(f"at index {index_count} the letter is {letter}")
    index_count+=1

at index 0 the letter is A
at index 1 the letter is B
at index 2 the letter is C
at index 3 the letter is D

In [10]:
index_count = 0
word = "ABCD"

for letter in word :
    print(word[index_count])
    index_count+=1

A
B
C
D

In [12]:
word = "ABCD"

for index,letter in enumerate(word) :
    print(index)
    print(letter)
    print("\n")

0
A


1
B


2
C


3
D

In [17]:
mylist1 = [1,2,3,4]
mylist2 = ["a", "b", "c", "d"]
mylist3 = [1.1, 2.2, 3.3, 4.4]

for i in zip(mylist1, mylist2, mylist3):#same no. of elements
    print(i)

(1, 'a', 1.1)
(2, 'b', 2.2)
(3, 'c', 3.3)
(4, 'd', 4.4)

In [18]:
list(zip(mylist1, mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [19]:
for a,b,c in zip(mylist1, mylist2, mylist3):#same no. of elements
    print(c)

1.1
2.2
3.3
4.4

In [21]:
'x' in [1,2.4,4,'c','d']

False

In [23]:
'a' in "a WORLD"

True

In [24]:
'mykey' in {'mykey': 23}

True

In [25]:
d = {'mykey': 23}
23 in d.values()

True

In [26]:
l = [10,20,39]

In [27]:
min(l)

10

In [28]:
max(l)

39

In [29]:
from random import shuffle

In [30]:
l = [1,2,3,4,5,6,7,8,9,10]

In [31]:
shuffle(l)

In [32]:
l

[3, 1, 2, 10, 5, 4, 9, 7, 6, 8]

In [33]:
shuffle(l)

In [34]:
l

[4, 1, 3, 9, 5, 10, 6, 8, 2, 7]

In [35]:
from random import randint

In [36]:
randint(0,100)

57

In [37]:
n = randint(0,10)

In [38]:
n

3

In [40]:
name = input("what is your name: ")

what is your name: JULES

In [41]:
name

'JULES'

In [42]:
j = input("favourite number: ") #always in strings

favourite number: 15

In [43]:
j

'15'

In [44]:
type(j)

str

In [45]:
float(j)

15.0

In [46]:
int(j)

15

In [47]:
j

'15'

In [48]:
j = int(input("favourite number: "))

favourite number: 9

In [49]:
type(j)

int