# time

In [1]:
import datetime

In [2]:
mytime = datetime.time(13,10)

In [3]:
mytime.minute

10

In [4]:
mytime.hour

13

In [5]:
print(mytime)

13:10:00

In [6]:
mytime2 = datetime.time(13)

In [7]:
print(mytime2)

13:00:00

In [8]:
mytime2.microsecond

0

In [9]:
mytime3 = datetime.time(13,10,9,24)

In [10]:
print(mytime3)

13:10:09.000024

In [11]:
type(mytime3)

datetime.time

# date

In [14]:
today = datetime.date.today()

In [15]:
print(today)

2023-05-26

In [16]:
today.day

26

In [17]:
today.month

5

In [18]:
today.year

2023

In [19]:
today.ctime()

'Fri May 26 00:00:00 2023'

In [20]:
from datetime import datetime

In [25]:
mydatetime = datetime(2024, 10,3,14,20,1)

In [26]:
print(mydatetime)

2024-10-03 14:20:01

In [28]:
mydatetime = mydatetime.replace(year=2023)

In [29]:
print(mydatetime)

2023-10-03 14:20:01

# Arithmetic

In [30]:
#date

In [31]:
from datetime import date

In [33]:
date1 = date(2021,11,23)
date2 = date(2020,11,23)

In [35]:
result = date1 - date2

In [36]:
type(result)

datetime.timedelta

In [37]:
result.days

365

In [38]:
from datetime import datetime

In [41]:
datetime1 = datetime(2021,11,3,22,0)

In [42]:
datetime2 = datetime(2020,11,3,12,0)

In [43]:
a = datetime1 - datetime2

In [44]:
print(a)

365 days, 10:00:00

In [45]:
a.seconds

36000

In [46]:
a.total_seconds()

31572000.0