In [38]:
my_list = [1,2,3,4,5]

In [39]:
my_list = ["string", 5 ,45.57 ]

In [40]:
len(my_list)

3

In [41]:
mylist = ["one","two", "three"]

In [42]:
mylist[0]

'one'

In [43]:
mylist[1:]

['two', 'three']

In [44]:
mylist

['one', 'two', 'three']

In [45]:
anotherlist = ["four", 'five']

In [46]:
new = mylist + anotherlist

In [47]:
new

['one', 'two', 'three', 'four', 'five']

In [48]:
mylist

['one', 'two', 'three']

In [49]:
anotherlist

['four', 'five']

In [50]:
new[0] = "ONE ALL CAPS"

In [51]:
new

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [52]:
new.append("TEN")

In [53]:
new

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'TEN']

In [54]:
new.append("*hundred*")

In [55]:
new

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'TEN', '*hundred*']

In [56]:
new.pop()

'*hundred*'

In [57]:
new

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'TEN']

In [58]:
popped_item = new.pop()

In [59]:
popped_item

'TEN'

In [60]:
new

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [62]:
new.pop(0)

'ONE ALL CAPS'

In [63]:
new

['two', 'three', 'four', 'five']

In [66]:
new_list = ['a', 'h', 'd', 'g']
num_list = [2,1,6,3]

In [68]:
new_list.sort()

In [70]:
new_list

['a', 'd', 'g', 'h']

In [71]:
my_sorted_list = num_list.sort()

In [72]:
type(my_sorted_list)

NoneType

In [73]:
num_list.sort()
your_sorted_list = num_list

In [74]:
your_sorted_list

[1, 2, 3, 6]

In [75]:
num_list.reverse()

In [76]:
num_list

[6, 3, 2, 1]