## WARMUP SECTION:

In [16]:
def lesser_of_two_evens(a,b):
    
    if a%2 == 0 and b%2==0:
        return min(a,b)
    
    else:
        return max(a,b)

In [17]:
# Check
lesser_of_two_evens(2,4)

2

In [18]:
# Check
lesser_of_two_evens(2,5)

5

In [23]:
# Check
lesser_of_two_evens(7,5)

7

In [25]:
def animal_crackers(text):
    a = text.lower().split()
    
    return a[0][0]==a[1][0]

In [26]:
# Check
animal_crackers('Levelheaded Llama')

True

In [27]:
# Check
animal_crackers('Crazy Kangaroo')

False

In [28]:
# Check
animal_crackers('Apple answer')

True

def makes_twenty(n1,n2):
    
    if n1==20 or n2==20:
        return True
    
    elif (n1+n2)==20:
        return True
        
    else:
        return False
        
        
one liner solution wriiten below...

In [33]:
def makes_twenty(n1,n2):
    
    return (n1+n2)==20 or n1==20 or n2==20

In [34]:
makes_twenty(20,10)

True

In [35]:
makes_twenty(2,3)

False

In [36]:
makes_twenty(12,8)

True

## LEVEL 1 PROBLEMS

In [7]:
def old_macdonald(name):
    
    out = []
    for i in range(len(name)):
        if i == 0 or i ==3:
            out.append(name[i].upper())
            
        else:
            out.append(name[i])
            
    return "".join(out)

In [8]:
old_macdonald('macdonald')

'MacDonald'

In [41]:
def oold_macdonald(name):
    
    first_half = name[:3]
    second_half = name[3:]
    
    #Note: 'macdonald'.capitalize() returns 'Macdonald'
    return first_half.capitalize()  + second_half.capitalize()

In [42]:
oold_macdonald('macdonald')

'MacDonald'

In [66]:
def master_yoda(text):
    
    out = text.split()
    f = []
    
    for i in range(len(out)):

        yo = out.pop()
        f.append(yo)
    
    return " ".join(f)

In [67]:
# Check
master_yoda('I am home')

'home am I'

In [68]:
# Check
master_yoda('We are ready')

'ready are We'

In [43]:
def MASTER_YODA(text):
    word = text.split()
    reverse_list = word[::-1]
    return " ".join(reverse_list)

In [44]:
MASTER_YODA('I am home')

'home am I'

In [45]:
MASTER_YODA('We are ready')

'ready are We'

In [46]:
#abs(num) returns the absolute value of a number

def almost_there(n):
    
    return abs(n-100)<=10 or abs(n-200)<=10

In [47]:
# Check
almost_there(104)

True

In [48]:
# Check
almost_there(150)

False

In [80]:
# Check
almost_there(209)

True

## LEVEL 2 PROBLEMS

In [49]:
def has_33(nums):
    
    for i in range(0,len(nums)-1):
        
        if nums[i] == 3 and nums[i+1]==3:
       #if nums[i:i+2]==[3,3]
            return True
        
    return False

In [50]:
has_33([1, 3, 3])

True

In [51]:
has_33([1, 3, 1, 3])

False

In [52]:
has_33([3 ,1 , 3])

False

In [106]:
def paper_doll(text):
    
    out = []
    for i in range(len(text)):
        out.append(text[i]*3)
        
        
    return "".join(out)

In [107]:
paper_doll('Hello')

'HHHeeellllllooo'

In [108]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [55]:
def PAPER_DOLL(text):
    
    out = ''
    for char in text:
        out += char*3
        
        
    return out

In [56]:
PAPER_DOLL('Hello')

'HHHeeellllllooo'

In [57]:
PAPER_DOLL('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST

In [58]:
def blackjack(a,b,c):
    
    d = a+b+c
    
    if d <= 21:
        return d
    
    else:
        
        if(a==11 or b==11 or c==11):
            d =d -10
        
        
        if(d>21):
            print("BUST") 
            
        else:
            return d

In [59]:
# Check
blackjack(5,6,7)

18

In [60]:
# Check
blackjack(9,9,9)

BUST

In [61]:
# Check
blackjack(9,9,11)

19

In [62]:
def BLACKJACK(a,b,c):
    
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    
    elif 11 in [a,b,c] and sum([a,b,c]) <= 31:
        return sum([a,b,c])-10
    
    else:
        return "BUST"

In [63]:
BLACKJACK(5,6,7)

18

In [64]:
BLACKJACK(9,9,9)

'BUST'

In [65]:
BLACKJACK(9,9,11)

19

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

In [70]:
def summer_69(arr):
    

    sum = 0
    add = True
    
    for num in arr:
        
        while add:
            if num!= 6:
                sum+=num
                break
            else:
                add = False
                
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
                        
    return sum

In [71]:
# Check 9
summer_69([1, 3, 5])

9

In [72]:
# Check 9
summer_69([4, 5, 6, 7, 8, 9])

9

In [73]:
# Check 14
summer_69([2, 1, 6, 9, 11])

14

## CHALLENGING PROBLEMS

In [74]:
# spy game: Write a function that takes in a list of integers and 
# returns True if it contains 007 in order
def spy_game(nums):
    
    code = [0,0,7,'x']
    
    #[0,0,7,'x']
    #[0,7,'x']
    #[7,'x']
    #['x']  lenght =1
    
    for num in nums:
        
        if num == code[0]:
            code.pop(0)
            
    return len(code)==1

In [75]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [76]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [77]:
# Check
spy_game([1,7,2,0,4,5,0])

False

COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number
count_primes(100) --> 25

In [82]:
def count_primes(num):
    
    #chec for 0 and 1
    if num<2:
        return 0
    
    #2 or greter
    primes = [2]
    x=3
    
    while x<=num:
        #check if x is prime
        for y in primes:
            if x%y==0:
                x+=2
                break
                
        #if x is prime
        else:
            primes.append(x)
            x+=2
                
    print(primes)
    return len(primes)

In [83]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
print_big('a')

out:   *  
      * *
     *****
     *   *
     *   *

In [85]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [86]:
print_big('a')

  *
 * *
*****
*   *
*   *

In [87]:
print_big('b')

****
*   *
****
*   *
****

In [88]:
print_big('c')

*****
*
*
*
*****

In [89]:
print_big('d')

****
*   *
*   *
*   *
****

In [90]:
print_big('e')

*****
*
*****
*
*****