## MAP FUNCTION

In [1]:
def square(n):
    return n**2

In [2]:
nums = [1,2,3,4,5]

In [3]:
map(square,nums)

In [4]:
for i in map(square,nums):
    print(i)

1
4
9
16
25

In [5]:
list(map(square,nums))

[1, 4, 9, 16, 25]

In [6]:
def splicer (string):
    if len(string)%2==0:
        return "EVEN"
    else:
        return string[0]

In [7]:
names= ["ELLA", "HENRY", "SHERLOCK","CHARLES"]

In [9]:
list(map(splicer,names))

['EVEN', 'H', 'EVEN', 'C']

## FILTER FUNCTION

In [10]:
def check_even(n):
    return n%2==0

In [11]:
nums = [1,2,3,4,5,6]

In [12]:
filter(check_even,nums)

In [13]:
list(filter(check_even,nums))

[2, 4, 6]

In [14]:
for i in filter(check_even,nums):
    print(i)

2
4
6

## LAMBDA EXPRESSIONS

In [17]:
def square(n):
    return n**2

In [18]:
square(3)

9

In [19]:
def squared(n): return n**2

In [20]:
squared(4)

16

In [22]:
squaredd = lambda n: n**2

In [23]:
squaredd(5)

25

In [24]:
list(map(lambda n: n**2,nums))

[1, 4, 9, 16, 25, 36]

In [26]:
list(filter(lambda n: n%2==0, nums))

[2, 4, 6]

In [27]:
names

['ELLA', 'HENRY', 'SHERLOCK', 'CHARLES']

In [28]:
list(map(lambda x: x[0], names))

['E', 'H', 'S', 'C']

In [29]:
list(map(lambda x: x[::-1], names))#reverse

['ALLE', 'YRNEH', 'KCOLREHS', 'SELRAHC']